<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="1800">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <!-- 日志输出文件配置-->
        <!--  <RollingFile name="RollingFile" fileName="logs/seller.log"
                      filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
             <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
             <SizeBasedTriggeringPolicy size="10MB"/>
         </RollingFile> -->
    </Appenders>
    <Loggers>
        <!--<Logger name="org.springframework" level="info" additivity="false">-->
            <!--<AppenderRef ref="Console" />-->
            <!--&lt;!&ndash;  <AppenderRef ref="RollingFile" /> &ndash;&gt;-->
        <!--</Logger>-->
        <!--<Logger name="java.sql.ResultSet" level="debug" additivity="false">-->
            <!--<AppenderRef ref="Console" />-->
            <!--&lt;!&ndash; <AppenderRef ref="RollingFile" /> &ndash;&gt;-->
        <!--</Logger>-->
        <!--<Logger name="com.lasun" level="debug" additivity="false">-->
            <!--<AppenderRef ref="Console" />-->
            <!--&lt;!&ndash;  <AppenderRef ref="RollingFile" /> &ndash;&gt;-->
        <!--</Logger>-->
        <Root level="info">
            <AppenderRef ref="Console" />
            <!-- <AppenderRef ref="RollingFile" /> -->
        </Root>
    </Loggers>
</Configuration>
